---
layout: default
title: "DUB"
---
<div class="introduction">
  <p><b>DUB.</b> és una plataforma per a repensar-ho tot. </br> </br>
    És un punt de partida per renéixer com a col·lectiu, una oportunitat per imaginar què volem ser i per dibuixar un horitzó comú.</br></br>
    Aquí no hi ha respostes prefabricades. Del que es tracta és de fer-nos les preguntes que calgui (<i>sense tabús</i>) i mirar de respondre-les <b>amb una visió global</b>. </br> </br>
    Cadascú de nosaltres té una història personal i unes vivències úniques de la professió, però més enllà d’això, tots coneixem quines són les fortaleses i les mancances que ens caracteritzen com a col·lectiu. Això hem d’aprofitar-ho per a construir un edifici on hi capiguem totes i tots, i que superi antigues divisions (<i>català/castellà, Dobarna/Rèplica, associats/no associats, etc</i>). </br> </br>
    Valorem la crítica sempre que sigui <b>constructiva</b>, sempre que vagi acompanyada d’una <b>proposta positiva</b> que ens permeti avançar. És hora de mirar-nos al mirall a nosaltres mateixos, de mirar als ulls a les companyes i companys, de buscar què és el que ens fa iguals, de traçar un destí compartit i començar a caminar.
    Si et sents interpel·lat, deixa’ns les teves dades i et contactarem aviat.
  </p>
</div>

<div class="introduction">
    {% include mailchimp.html %}
</div>

<hr>


<div class="introduction">
  <p><b>DUB.</b> es una plataforma para repensarlo todo. </br> </br>
    Es un punto de partida para renacer como colectivo, una oportunidad para imaginar qué queremos ser y para dibujar un horizonte común.</br></br>
    Aquí no hay respuestas prefabricadas. De lo que se trata es de hacernos las preguntas que haga falta (<i>sin tabús</i>) e intentar responderlas <b>con una visión global</b>. </br> </br>
  
    Cada uno de vosotros tiene una historia personal y unas vivencias únicas en la profesión, pero más allá de esto, todos conocemos cuáles son las fortalezas y las debilidades que nos caracterizan como colectivo. Tenemos que aprovechar esto para construir un edificio donde quepamos todas y todos, y que supere antiguas divisiones (<i>catalán/castellano, Dobarna/Réplica, asociados/no asociados, etc.</i>). </br> </br>
    Valoramos la crítica siempre que sea <b>constructiva</b>, siempre que vaya acompañada de una <b>propuesta positiva</b> que nos permita avanzar. Es hora de mirarnos al espejo y ser nosotros mismos, de mirar a los ojos a nuestras compañeras y compañeros, de buscar qué es lo que nos hace iguales, de trazar un destino compartido y empezar a caminar.
    Si te sientes identificado, déjanos tus datos y te contactaremos pronto.
  </p>
</div>

<div class="introduction">
    {% include mailchimp.html %}
</div>

